{% extends "base.html" %}

{% block content %}
<div class="background-backdrop"></div>
    <div class="container">
      <section class="row">
        <section class="col l12 m12 s12">
          <h1>Travel the world!</h1>
          <h2 class="sub-heading">Use <i class="small material-icons room-icon">room</i><span class="logo-span">TraveLog</span> and share with us</h2>
        </section>
      </section>  
      <div class="row">
        <section class="col l12 m12 s12 btn_wrapper">
          <a class="waves-effect waves-light btn-large btn_get-started" href="/blog/signup">Get Started</a> 
        </section>
      </div>
{% endblock %}